<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>הוספת משתמש</title>
</head>
<body>
<h1>הוספת משתמש</h1>
<form action="" method="post">
    <label for="name">שם </label>
    <input type="text" name="name" id="name" value="<%= data.name %>" />
    <br>
    <label for="uname">שם משתמש </label>
    <input type="text" name="uname" id=uname" value="<%= data.uname %>" />
    <br>
    <label for="passwd">סיסמה </label>
    <input type="text" name="passwd" id="passwd" value="" />
    <br>
    <label for="email">מייל </label>
    <input type="email" name="email" id="email" value="<%= data.email %>" />
    <br>
    <label for="tz">תז </label>
    <input type="text" name="tz" id="tz" value="<%= data.tz %>" />
    <br>
    <label for="type_id">סוג משתמש </label>
    <select name="type_id" id="type_id">
        <option value="1">מנהל</option>
        <option value="2">מרצה</option>
        <option value="3">תלמיד</option>
    </select>
    <br>
    <button name="btn" value="1">send</button>
</form>
</body>
</html>